.places h1 {
    padding-top: 30px;
    padding-left: 10px;
    text-align:left;
    font-size:30px;
}

.places h2 {
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.places {
    text-align: center;
}

.places article {
    width:390px;
    padding: 20px;
    margin: 20px;
    border: solid #FF5A5F 1px;
    border-radius: 4px;
    text-align:center;
    display: inline-block;
    position:relative;
}
